.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.dados {
  padding: 0px;
  list-style: none;
}

.dados li {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.8rem;
}

.dados li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #ddd;
  margin-right: 10px;
}

.foto {
  width: 450px;
  height: 450px;
  border-radius: unset;
}
