body {
  margin: 2rem;
}

img {
  max-width: 100%;
  border-radius: 0.5rem;
}
a {
  text-decoration: none;
  color: black;
}

h1 {
  font: size 1.4rem;
}
.animeLeft {
  transform: translateX(-20px);
  opacity: 0;
  animation: animeLeft 0.5s forwards;
}

@keyframes animeLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}

.loading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 45%;
  margin-top: 100px;
  border: 10px solid #ccc;
  border-right-color: transparent;
  animation: loading 0.9s infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 0 auto;
  min-height: cal(100vg+10rem);
}

.content {
  flex: 1;
}
